
// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
	$src: null;

	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote("../" + $path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}


// =============================================================================
// background
// =============================================================================

@mixin background($imgpath,$position:50% 50%,$repeat: no-repeat,$cover: cover) {
    background: {
        image: url($imgpath);
        position: $position;
        repeat: $repeat;
				size: $cover;
    }
}

// =============================================================================
// pseudoelements
// =============================================================================

@mixin pseudo($display: block, $pos: absolute, $content: ''){
    content: $content;
    display: $display;
    position: $pos;
}


// =============================================================================

// Convert pixels to ems
// eg. for a relational value of 12px write em(12) when the parent is 16px
// if the parent is another value say 24px write em(12, 24)
// =============================================================================

@function em($pxval, $base: $em-base) {
  // @if $output-bourbon-deprecation-warnings == true {
  //   @warn "[Bourbon] [Deprecation] `em` is deprecated and will be " +
  //   "removed in 5.0.0.";
  // }
	//
  // $user-deprecation-warnings-setting: $output-bourbon-deprecation-warnings;
  // $output-bourbon-deprecation-warnings: false !global;

  @if not unitless($pxval) {
    $pxval: strip-units($pxval);
  }
  @if not unitless($base) {
    $base: strip-units($base);
  }

  // $output-bourbon-deprecation-warnings: $user-deprecation-warnings-setting !global;

  @return ($pxval / $base) * 1em;
}


// =============================================================================

// Convert pixels to rems
// eg. for a relational value of 12px write rem(12)
// Assumes $em-base is the font-size of <html>

// =============================================================================

@function rem($pxval) {
  // @if $output-bourbon-deprecation-warnings == true {
  //   @warn "[Bourbon] [Deprecation] `rem` is deprecated and will be " +
  //   "removed in 5.0.0.";
  // }
	//
  // $user-deprecation-warnings-setting: $output-bourbon-deprecation-warnings;
  // $output-bourbon-deprecation-warnings: false !global;

  @if not unitless($pxval) {
    $pxval: strip-units($pxval);
  }

  $base: $em-base;
  @if not unitless($base) {
    $base: strip-units($base);
  }

  // $output-bourbon-deprecation-warnings: $user-deprecation-warnings-setting !global;

  @return ($pxval / $base) * 1rem;
}
