$em-base: 16;

// General variable structure
//
// Variable format should follow the `$component-modifier-state-property` order.

// Colors
//
// Grayscale and brand colors for use across Bootstrap.
// Start with assigning color names to specific hex values.
$white: rgba(255,255,255,1) !default;
$black: rgba(0,0,0,1) !default;
// custom colors
$custom-color: #28b8cc;
$custom-light-color: #cecece;

// Reassign color vars to semantic color scheme
$brand-primary: $black !default;

// Body
//
// Settings for the `<body>` element.
$body-bg: $white !default;
$body-color: #252525 !default;
$inverse-bg: $black !default;
$inverse-color: $white !default;

// Links
//
// Style anchor elements.
$link-color: $custom-color !default;
$link-hover-color: $custom-light-color !default;
$link-hover-decoration: none !default;
$link-invert-color: $inverse-color !default;


// Fonts
//
// Font, line-height, and color for body text, headings, and more.
$font-size-base: 1.375rem !default; // 22px
$font-weight-base: 300;
// $line-height-base: 1.2 !default;
// $font-size-h1: 3.25rem !default; // 52px
$font-size-h2: 3.18em !default; // 70px
$font-size-h3: 3em !default; // 66px
$font-size-h4: 1.6em !default; // 35px
$font-size-h5: 1.3em !default; // 28px
$font-size-h6: 1.1em !default; // 24px
$headings-font-weight: 300 !default;
$headings-margin-bottom: 2rem !default;
// $headings-color: $black;

// Components
//
// Define common padding and border radius sizes and more.
// $border-radius: 1rem !default;

// Buttons
//
// For each of Bootstrap's buttons, define text, background and border color.
// $btn-padding-x: 4rem !default;
// $btn-padding-y: 1rem !default;
// $btn-font-weight: 500 !default;
// $btn-font-weight: bold !default;
// $btn-border-radius: 0 !default;

// Forms
//
// $input-border-color: #d3d3d3 !default;
// $input-border-radius: 0 !default;
// $input-padding-x: 1.5rem !default;
// $input-padding-y: 1rem !default;
// $input-color-placeholder: #acacac !default;


//
// Custom Variables
// --------------------------------------------------
$font-stack: 'HelveticaNeueCyr', Helvetica, Arial, sans-serif;




// mq
$mq-breakpoints: ( mobile: 576px, tablet: 768px, desktop: 992px, wide: 1200px );
// colors



// bg

// text

// btn

// border
$border-color: #cecece;


//
// Imports
// --------------------------------------------------
// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";
// Reset and dependencies
@import "bootstrap/normalize";
@import "bootstrap/print";
// Core CSS
@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/images";
@import "bootstrap/grid";
@import "bootstrap/buttons";
// Components
@import "bootstrap/nav";
// Utility classes
@import "bootstrap/utilities";
@import 'mixins';
@import 'mq';
/*--------------------------fonts-------------------------*/
@include font-face(HelveticaNeueCyr, fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light, 300, normal);
@include font-face(HelveticaNeueCyr, fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold, bold, normal);
@include font-face(fontello, fonts/fontello/fontello, normal, normal);
/*--------------------------------------------------------*/

/*-------------------------general------------------------*/
* {
	-webkit-touch-callout: none;
	/* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust: none;
	/* prevent webkit from resizing text to fit */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	/* prevent tap highlight color / shadow */
	-webkit-user-select: text;
	/* prevent copy paste, to allow, change 'none' to 'text' */
}
/*color text when selected*/
::-moz-selection {
	background: #444;
	color: rgb(255,255,255);
}

::-webkit-selection {
	background: #444;
	color: rgb(255,255,255);
}

::selection {
	background: #444;
	color: rgb(255,255,255);
}

body {
	font-family: $font-stack;
	min-width: 320px;
	overflow-x: hidden;
}

a {

}

a:focus,
a:hover {
	text-decoration: none;
}

a:active {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	/* For some Androids */
}

.btn:active:focus,
.btn:focus,
a:focus {
	outline: none;
}

input {
	-webkit-appearance: none;
	/*for iPhone & iPad*/
}

img {
	@extend .img-fluid;
}

b, strong {
	font-weight: bold;
}

p, ul {
	margin-bottom: 2rem;
}

/*----------------------font styles-----------------------*/

.frontpage-title {
	line-height: 1.3;
	strong {
		font-size: em(90,70); /* 90px */
	}
}

/*--------------------------------------------------------*/
.container,
.container-fluid {
	min-width: 320px;
}
/*--------------------------------------------------------*/
a {
	transition: all 0.2s ease-in-out;
}
.pos-r {
	position: relative;
}
.pos-a {
	position: absolute;
}
.of-hidden {
	overflow: hidden;
}


.inverse-color-block {
	color: $white;
}

/* bg */
.bg-overlay {
	background-color: transparentize($black, .5);
}


/******************* navigation ******************/

.cd-section {
  min-height: 100vh;
  position: relative;
}



// .cd-scroll-down {
//   position: absolute;
//   left: 50%;
//   right: auto;
//   -webkit-transform: translateX(-50%);
//   -moz-transform: translateX(-50%);
//   -ms-transform: translateX(-50%);
//   -o-transform: translateX(-50%);
//   transform: translateX(-50%);
//   bottom: 20px;
//   width: 38px;
//   height: 44px;
//   background: url("../img/cd-arrow-bottom.svg") no-repeat center center;
// }

/* No Touch devices */
.cd-nav-trigger {
  display: none;
}

#cd-vertical-nav {
  position: sticky;
	float: left;
	top: 3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
	margin-left: 2.5rem;
  bottom: auto;
  z-index: 1;
	font-size: 14px;
	li {
		position: relative;
		line-height: 30px;
		&:after {
			@include pseudo;
			bottom: -1px;
			left: 0;
			width: 24px;
			border-bottom: 2px solid $border-color;
		}
		&:first-child {
			a {
				margin-bottom: .7rem;
				&.is-selected .cd-dot {
				  background-color: none;
				}
			}
			.cd-dot {
				background: transparent;
				&:before {
					@include pseudo;
					top: 50%;
					left: 50%;
					margin-top: -8px;
					margin-left: -9px;
					width: 18px;
					height: 16px;
					@include background('../img/icon_home.png');
				}
			}
		}
		&:not(:first-child) a.is-selected .cd-dot {
		  background-color: $custom-color;
		}
	}
	a {
		display: inline-block;
	  /* prevent weird movements on hover when you use a CSS3 transformation - webkit browsers */
	  -webkit-backface-visibility: hidden;
	  backface-visibility: hidden;
		padding-left: 7px;
		color: $white;
		&:hover {
			.cd-label {
			  opacity: 1;
			}
		}
		span {
			display: inline-block;
			vertical-align: middle;
		}
	}
	.cd-dot {
	  position: relative;
	  height: 10px;
	  width: 10px;
	  background-color: $custom-light-color;
		transition: background-color 0.2s;
	}
	.cd-label {
	  position: relative;
	  margin-left: 15px;
	  // padding: .4em .5em;
	  font-size: 14px;
	  transition: transform 0.2s, opacity 0.2s;
	  opacity: 0;
	  transform-origin: 100% 50%;
		background: $custom-color;
		padding-left: 5px;
		padding-right: 5px;

		position: absolute;
		width: 5rem;
	}
}

/**************** navigation - end ***************/


/*--------------------------------------------------------*/

/*------------------------header--------------------------*/

/*--------------------------------------------------------*/



/*------------------------content-------------------------*/

/*------------------- index.html --------------------*/

.main-content {
	position: relative;
}

.main-nav-wrap {
	background: $white;
	height: 74px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	border-bottom: 1px solid $custom-light-color;
	z-index: 1;
}

/***************** section-links *****************/

.section-links {
	position: fixed;
	top: 0;
	right: 0;
	float: right;
	z-index: 1;
}

.btn-deals {
	// position: absolute;
	// top: -1rem;
	// right: -5.2rem;
	display: block;
	// top: 0;
	// right: 0;
	font-size: .6rem;
	color: $white;
	line-height: 1;
	font-weight: bold;
	text-transform: uppercase;
	background-color: $custom-color;
	border-radius: 50%;
	padding: 0.9rem 0.4rem;
	width: 47px;
	height: 47px;
	float: right;
	margin-top: 11.5px;
	margin-right: 15px;
	// padding: 2rem 4.8rem .5rem;
	// transform: rotate(45deg);
	z-index: 1;
	&:hover,
	&:focus {
		color: $white;
		background-color: $custom-light-color;
	}
}

.btns-social {
	// margin-top: .2rem;
	// margin-bottom: .2rem;
	// margin-right: 4.5rem;
	margin-right: .7rem;
	float: left;
}

.btn-social {
	// display: block;
	// font-size: 1.9rem;
	display: inline-block;
	text-align: center;
	width: 47px;
	margin: .8rem .4rem;
	padding: 0.7rem;
	color: $custom-color;
	background: $white;
	border: 1px solid $border-color;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
 font-family: "fontello";
 font-style: normal;
 font-weight: normal;
 speak: none;

 display: inline-block;
 text-decoration: inherit;
 // width: 1em;
 // margin-right: .2em;
 text-align: center;
 /* opacity: .8; */

 /* For safety - reset parent styles, that can break glyph codes*/
 font-variant: normal;
 text-transform: none;

 /* fix buttons height, for twitter bootstrap */
 line-height: 1em;

 /* Animation center compensation - margins should be symmetric */
 /* remove if not needed */
 // margin-left: .2em;

 /* you can be more comfortable with increased icons size */
 /* font-size: 120%; */

 /* Font smoothing. That was taken from TWBS */
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before { content: '\f052'; }
.icon-twitter:before { content: '\f058'; }
.icon-pinterest:before { content: '\f312'; }

/************** section-links - end **************/

.main-logo {
	position: absolute;
	left: 50%;
	top: 3rem;
	margin-left: -108px;
}

/************** section: main-intro **************/
.main-intro {
	height: 100vh;
	@include background('../img/bg_main_intro.jpg');
	background-attachment: fixed;
}
/*********** section: main-intro - end ***********/

/************* section: authors-intro ************/
.authors-intro {
	h3 {
		width: 65%;
		strong {
			font-size: em(40,66); /* 40px */
		}
	}
	height: 100vh;
	@include background('../img/bg_authors_intro.jpg', 25% 50%);
	z-index: 2;
	position: relative;
}
/********** section: authors-intro - end *********/

/***************** content-block *****************/

.content-block {
	padding-top: 5rem;
	padding-bottom: 5rem;
	h4,h5,h6 {
		text-align: center;
		font-weight: bold;
	}
	.list-unstyled {
		padding-left: 1rem;
		li {
			margin-bottom: 1rem;
		}
	}
	&:nth-child(odd) {
		.section-img {
			width: 100%;
			height: 50vw;
			max-height: 860px;
		}
	}
	&:nth-child(even) {
		color: $white;
		background: linear-gradient(to bottom right, #0c2750, #1e4b8f);
		.section-img {
			margin-top: -5rem;
			margin-bottom: -5rem;
			margin-right: -9.7rem;
			top: 0;
			width: calc(100% + 9.7rem + 15px);
			height: 100vh;
			overflow: hidden;
		}
		.img-block {
			max-width: none;
			min-width: 100%;
			min-height: 100vh;
			height: auto;
		}
		.list-content {
			li span {
				color: $white;
			}
		}
	}
}

.section-img {
	display: inline-block;
	position: sticky;
	top: 5rem;
}

.img-block {
	position: absolute;
	top: 0;
	left: 0;
	// left: 50%;
	// margin-left: -13vw;
	opacity: 0;
	transition: opacity 250ms ease-in-out;
	// height: 100%;
	&.img-visible {
		opacity: 1;
		animation: rot20 500ms;
	}
}

@-webkit-keyframes rot20 {
  from {
    bottom: -1.5em;
    -webkit-transform: rotate3d(0, 1, 0, -30deg); }

  to {
    bottom: 0em;
    -webkit-transform: rotate3d(0, 1, 0, 0deg); } }

@-moz-keyframes rot20 {
  from {
    bottom: -1.5em;
    -webkit-transform: rotate3d(0, 1, 0, -30deg); }

  to {
    bottom: 0em;
    -webkit-transform: rotate3d(0, 1, 0, 0deg); } }

@-ms-keyframes rot20 {
  from {
    bottom: -1.5em;
    -webkit-transform: rotate3d(0, 1, 0, -30deg); }

  to {
    bottom: 0em;
    -webkit-transform: rotate3d(0, 1, 0, 0deg); } }

@keyframes rot20 {
  from {
    bottom: -1.5em;
    -webkit-transform: rotate3d(0, 1, 0, -30deg); }

  to {
    bottom: 0em;
    -webkit-transform: rotate3d(0, 1, 0, 0deg); } }



.list-content {
	list-style-type: circle;
	color: $custom-color;
	li span {
		color: $body-color;
	}
}

/************** content-block - end **************/


/*************** section: ________ ***************/
/************ section: ________ - end ************/

/*************** section: ________ ***************/
/************ section: ________ - end ************/




/*---------------------------------------------------*/

/*--------------------------------------------------------*/



/*------------------------footer--------------------------*/

.main-footer {
	height: 100vh;
	@include background('../img/bg_main_intro.jpg');
}

.footer-info {
	position: absolute;
	left: 15px;
	right: 15px;
	bottom: 0;
	font-size: rem(13); /* 13px */
}

/*--------------------------------------------------------*/



/*----------------------media-query-----------------------*/

/*
******** xl ***********
******* 1200px ********
*/
@include mq($until: wide) {
	body {
		font-size: $font-size-base * 0.85;
	}

}

/*
******** lg ***********
******* 992px *********
*/
@include mq($until: desktop) {
	body {
		font-size: $font-size-base * 0.85 * 0.85;
	}
}

/*
******** md ***********
******* 768px *********
*/
@include mq($until: tablet) {
	body {
		font-size: $font-size-base * 0.85 * 0.85 * 0.85;
	}
	.frontpage-title {
		font-size: 2.5em;
	}
	/******************* navigation ******************/
	/* Touch devices */
	.cd-nav-trigger {
	  display: block;
	  z-index: 2;
	  position: fixed;
	  top: 15px;
	  left: 15px;
	  height: 44px;
	  width: 44px;
	  // border-radius: 0.25em;
	  // background: rgba(255, 255, 255, 0.9);
	}
	.cd-nav-trigger span {
	  position: absolute;
	  height: 4px;
	  width: 30px;
	  background-color: $black;
	  left: 50%;
	  top: 50%;
	  bottom: auto;
	  right: auto;
	  transform: translateX(-50%) translateY(-50%);
	}
	.cd-nav-trigger span::before, .cd-nav-trigger span::after {
	  content: '';
	  height: 100%;
	  width: 100%;
	  position: absolute;
	  left: 0;
	  background-color: inherit;
	  border-radius: inherit;
	}
	.cd-nav-trigger span::before {
	  top: -9px;
	}
	.cd-nav-trigger span::after {
	  bottom: -9px;
	}

	#cd-vertical-nav {
	  position: fixed;
	  z-index: 1;
	  left: 0;
	  top: 74px;
	  width: 100%;
	  max-height: calc(100vh - 74px);
	  overflow-y: scroll;
	  transform-origin: left;
	  transform: translateX(-100%);
	  transition-property: transform;
	  transition-duration: 0.2s;
	  // border-radius: 0.25em;
	  background-color: rgba(255, 255, 255, 0.9);

		margin-top: 0;
		margin-left: 0;
		margin-bottom: 0;
	}
	#cd-vertical-nav a {
		color: $black;
	  display: block;
	  padding: 1em;
	  border-bottom: 1px solid $custom-light-color;
	}
	#cd-vertical-nav a span:first-child {
	  display: none;
	}
	#cd-vertical-nav a.is-selected span:last-child {
	  color: $custom-color;
	}
	#cd-vertical-nav li:first-child a {
		margin-bottom: 0;
	}
	#cd-vertical-nav .cd-label {
		opacity: 1;
		// margin-left: 0;
		padding-left: 0;
		padding-right: 0;
		background: none;
		position: static;
	}
	#cd-vertical-nav li:after {
		display: none;
	}
	#cd-vertical-nav.open {
	  transform: translateX(0);
	}
	#cd-vertical-nav.open + .cd-nav-trigger {
	  background-color: transparent;
	}
	#cd-vertical-nav.open + .cd-nav-trigger span {
	  background-color: rgba(62, 57, 71, 0);
	}
	#cd-vertical-nav.open + .cd-nav-trigger span::before, #cd-vertical-nav.open + .cd-nav-trigger span::after {
	  background-color: $black;
	  height: 4px;
	  width: 30px;
	  border-radius: 0;
	  left: 0;
	}
	#cd-vertical-nav.open + .cd-nav-trigger span::before {
	  transform: rotate(45deg);
	  top: 1px;
	}
	#cd-vertical-nav.open + .cd-nav-trigger span::after {
	  transform: rotate(135deg);
	  bottom: 0;
	}
	// #cd-vertical-nav li:last-child a {
	//   border-bottom: none;
	// }
	/*------------------------content-------------------------*/
	/*------------------- index.html --------------------*/
	.main-logo {
		position: static;
		margin-left: auto;
		margin-right: auto;
		margin-top: 6rem;
		margin-bottom: 1rem;
	}
	/************* section: authors-intro ************/
	.authors-intro {
		position: static;
		h3 {
			// font-size: 2.35em;
		}
	}


}

/*
******** xs ***********
******* 575px *********
*/
@include mq($until: mobile) {


}

/*
******** sm ***********
******* 576px *********
*/
@include mq($from: mobile) {


}

/*
******** md ***********
******* 768px *********
*/
@include mq($from: tablet) {
	p, ul, h1, h2, h3, h4, h5, h6 {
		margin-bottom: 3rem;
	}
	/*------------------------content-------------------------*/
	/*------------------- index.html --------------------*/
	/************* section: authors-intro ************/
	.authors-intro {
		padding-bottom: 3rem!important;
	}
	/***************** section-links *****************/
	.section-links {
		position: sticky;
		width: 140px;
		overflow-x: hidden;
		top: 15px;
		right: 15px;
		margin-top: 15px;
	}
	.btn-deals {
		font-size: 1.375rem;
		// padding: 3rem 5rem .5rem;
		padding: 3rem 2rem;
		width: 140px;
		height: 140px;
		float: none;
		margin-top: 0;
	}
	.btns-social {
		margin-top: 3rem;
		// margin-top: 7rem;
		margin-bottom: 3rem;
		// margin-right: 0;
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
	.btn-social {
		display: block;
		font-size: 1.9rem;
		width: 65px;
		margin: .8rem auto;
	}
	/***************** content-block *****************/
	.content-block {
		padding-left: 5rem;
		padding-right: 9.7rem;
		h4,h5,h6 {
			text-align: left;
		}
	}


}

/*
******** lg ***********
******* 992px *********
*/
@include mq($from: desktop) {

}

/*
******** xl ***********
******* 1200px ********
*/
@include mq($from: wide) {

}



@media only screen and (max-device-width: 768px) and (orientation : landscape) {
	.frontpage-title {
		font-size: 1.9em;
	}
	/*------------------------content-------------------------*/
	/*------------------- index.html --------------------*/
	/************* section: authors-intro ************/
	.authors-intro {
		h3 {
			font-size: 1.88em;
		}
	}
}

@media only screen and (max-device-width: 768px) and (orientation : portrait) {
	.frontpage-title {
		font-size: 1.9em;
	}
	/*------------------------content-------------------------*/
	/*------------------- index.html --------------------*/
	/************* section: authors-intro ************/
	.authors-intro {
		h3 {
			font-size: 1.88em;
		}
	}

}

@media only screen and (max-device-width: 768px) and (orientation : landscape) {
	/*------------------------footer--------------------------*/
	.footer-info-item {
		&:first-child {
			float: left;
		}
		&:last-child {
			float: right;
		}
	}
}

/*--------------------------------------------------------*/
