section#section2.cd-section.content-block
  .container-fluid
    .row
      .col-12.col-md-5.text-center.hidden-sm-down
        div.cd-images-nav.section-img
          img.img-block#section2img1(src='img/image_1_01.jpg',alt='')
          img.img-block#section2img2(src='img/image_1_02.jpg',alt='')
          img.img-block#section2img3(src='img/image_1_03.jpg',alt='')
          img.img-block#section2img4(src='img/image_1_04.jpg',alt='')
          img.img-block#section2img5(src='img/image_1_05.jpg',alt='')
          img.img-block#section2img6(src='img/image_1_06.jpg',alt='')
          img.img-block#section2img7(src='img/image_1_07.jpg',alt='')
          img.img-block#section2img8(src='img/image_1_08.jpg',alt='')
          img.img-block#section2img9(src='img/image_1_09.jpg',alt='')
          img.img-block#section2img10(src='img/image_1_10.jpg',alt='')
          img.img-block#section2img11(src='img/image_1_11.jpg',alt='')
          img.img-block#section2img12(src='img/image_1_12.jpg',alt='')
          img.img-block#section2img13(src='img/image_1_13.jpg',alt='')
          img.img-block#section2img14(src='img/image_1_14.jpg',alt='')
          img.img-block#section2img15(src='img/image_1_15.jpg',alt='')
          img.img-block#section2img16(src='img/image_1_16.jpg',alt='')
          img.img-block#section2img17(src='img/image_1_17.jpg',alt='')
          img.img-block#section2img18(src='img/image_1_18.jpg',alt='')
          img.img-block#section2img19(src='img/image_1_19.jpg',alt='')
          img.img-block#section2img20(src='img/image_1_20.jpg',alt='')
          img.img-block#section2img21(src='img/image_1_21.jpg',alt='')
          img.img-block#section2img22(src='img/image_1_22.jpg',alt='')
          img.img-block#section2img23(src='img/image_1_23.jpg',alt='')
          img.img-block#section2img24(src='img/image_1_24.jpg',alt='')
      .col-12.col-md-7
        .cd-block(data-section='2',data-img='1')
          p.text-center: img.hidden-md-up(src='img/image_1_01.jpg',alt='')
          h4 How to Travel Without Breaking the Bank (or Regretting What You Spend Later)
          p The BIGGEST roadblock keeping most people from traveling is money.
          p In their own words, here’s exactly what some of our readers said about budgeting for a trip — and the problems they run into:
          ul.list-unstyled.font-italic
            li “The problem is our limited budget! We usually only get to go on a weekend trip once or twice a year somewhere in our home state of Florida.”
            li “Money is the only thing that ever stops me from traveling.”
            li “It will be several years before we can save the money (especially with our credit card debt) to be able to afford a trip.”
          p We’ve been there ourselves. Faced with budget limitations, we would occasionally Google for trip ideas and costs… but close the window feeling frustrated.
          p Even worse is when we got oh so close but couldn’t pull the trigger:
          ul.list-content
            li: span We find a great destination, but hotels are too expensive
            li: span There’s a reasonably priced 4-star hotel… but flights cost an arm and a leg
            li: span We see a dirt-cheap all-inclusive vacation on a deals site, but it’s to a destination we don’t care about
          p We couldn’t accept not traveling because of a limited budget. We knew there must be a way to explore amazing cities, try crazy new adventures, and have incredible vacations even if we weren’t millionaires.
          p Instead of giving up, we put hundreds of hours into “hacking” the system to learn how to travel without breaking the bank.
          p Below are the exact strategies we’ve learned to travel without spending crazy amounts of money or breaking the bank.
          h5 Our 3 Favorite Websites to Find Cheap Flights
          p If you spend most of your money on the flight, it leaves only a little for food, culture, souvenirs, and sightseeing at your destination.
          p Who wants to spend all this money on a flight… but then sit in a hotel room all day because you can’t afford to do anything else?
          p On the other hand, finding an incredibly inexpensive flight can save you money to spend on exotic adventures, insane experiences, and delicious food.
          p In other words, snagging an amazing flight deal is the prerequisite to going on a great trip. 
          p To help you get started, here are our top three favorite ways to find flight deals.
          h6 Next Vacay
          p We created 
            a(href='index.html') Next Vacay
            |  to make inexpensive travel accessible to everyone. Frustrated from spending hours manually tracking flight prices through search engines, I wanted to automate the flight search process and get the best “hidden” deals automatically sent to my inbox.
          p Then, I decided to release it to the public. Now, our members don’t need to constantly search for hour to find great flight deals. Instead, we get amazing deals delivered to our inboxes. And when I see a destination I like at a great price and time works for me, I book it.
          p Next Vacay’s goal is to help make travel easier for everyone.
          p No more spending hours searching for deals. (They’re emailed automatically to you, with new surprises every other day.)
          p No more boring staycations. (The deals we send include Hawaii, New Zealand, Paris, and hundreds more exotic locations.)
          p No annoying restrictions or limitations. (You can pick deals from your local airport, so you get epic deals even if you don’t live near a city.)
          p Instead, you get deal emails automatically emailed to your inbox.
        .cd-block(data-section='2',data-img='2')
          p.text-center: img.hidden-md-up(src='img/image_1_02.jpg',alt='')
          p Once they arrive in your inbox, there are step-by-step instructions to book your flight… and save hundreds or thousands of dollars in the process.
          p So far, tens of thousands of people have joined. Some of the flight deals we send include 80% off normal price (and only a few thousand people in the world know about them).
          p Here are a few of the recent round-trip flight deals we’ve shared with our members:
          ul.list-content
            li: span Hawaii for 265
            li: span New Zealand for 303
            li: span Paris for $367
          p If you want to learn more enter your email address and airport below.
        .cd-block(data-section='2',data-img='3')
          p.text-center: img.hidden-md-up(src='img/image_1_03.jpg',alt='')
          h6 Kayak
          p If we’re looking for a flight deal for a specific date to a specific destination with no flexibility in the trip, we’ll use 
            a(href='https://www.kayak.com') Kayak
            | .
          p Many readers will scoff at this part: “Pft, everyone knows Kayak. I thought you were going to tell me something new.”
          p But the truth is, Kayak is still around because it works. If you need a last-minute flight to see family in Manchester, New Hampshire, or you need to book a flight on a weekend in June to Boise, Idaho for a wedding, Kayak is an excellent choice. Its ease of use combined with its variety of airlines and options make it better than the competition.
          p Here’s how you use Kayak:
        .cd-block(data-section='2',data-img='4')
          p.text-center: img.hidden-md-up(src='img/image_1_04.jpg',alt='')
          p First, navigate to 
            a(href='https://www.kayak.com/flights') Kayak’s flight search page
            | .
          p If Kayak doesn’t pick up on your home airport through your web browser automatically, enter it in the “From” field. Then, enter your destination in the “To” field along with your depart and return dates.
          p If you’re traveling with someone (or multiple people), you can click the drop-down menu next to “Search” and adjust to add more adults, seniors, youth, children, or infants. You can also change your cabin type if you want Economy Premium or first-class seats.
          p After you define your travel requirements, just click the big orange “Search” button and you’ll see the results.
        .cd-block(data-section='2',data-img='5')
          p.text-center: img.hidden-md-up(src='img/image_1_05.jpg',alt='')
          p When navigating through the results, the left-hand panel allows you to select certain filters. For example, if you want only nonstop flights or want to leave (or arrive) at certain times.
          p Also useful: Kayak’s fare predictor. After search results load, you can see the fare predictor on the left side which predicts if you should wait for prices to go down, or buy now before prices go up.
          p For more, here are two resources to help:
          ul.list-content
            li: span: a(href='https://www.thrillist.com/tech/nation/6-tips-to-find-cheaper-flights-on-kayak') 6 tips to find cheaper flights on Kayak
            li: span: a(href='https://www.kayak.com/help/lowfares') Seven tips for finding the lowest fare possible on Kayak
          p Ready for your first adventure? 
            a(href='https://www.kayak.com/') Click here to try Kayak out
            | .
        .cd-block(data-section='2',data-img='6')
          p.text-center: img.hidden-md-up(src='img/image_1_06.jpg',alt='')
          h6 Matrix airfare search
          p Advanced routing codes, cost-per mile filtering, and the sales city.
          p For the novice traveler, the above words sound like a foreign language.
          p But for the experienced traveler (and the team at nextvacay), they sound like magic.
          p In our opinion, 
            a(href='https://matrix.itasoftware.com/') Matrix airfare search
            |  is the #[em best] tool for finding very specific flights for the most the perfectionist traveler who needs complete control over every aspect of their flight.
          p Here’s why you would use Matrix:
          ul.list-content
            li: span If you’re an airline reward member looking to optimize your miles with a specific airline
            li: span If you need ultra-granular filtering, like advanced routing codes, cost-per-mile, cabin type, currency, sales city, and more
            li: span To find exact flight codes to research on your own (and book through your carrier of choice)
          p Travel hackers and advanced fliers are obsessed with Matrix’s search platform, and for good reason. Matrix allows the most granular search options out there.
          p If you’re obsessed with maximizing your travel rewards and airline miles for an upcoming trip, Matrix is the best choice.
          p Here’s how you can get started using 
            a(href='https://matrix.itasoftware.com/') Matrix ITA
            | .
        .cd-block(data-section='2',data-img='7')
          p.text-center: img.hidden-md-up(src='img/image_1_07.jpg',alt='')
          p First, enter your departing city (called “departing from”) and your destination city.
          p Then, choose your dates and any additional requirements — like cabin type or number of stops. Once you specify your requirements, click the search button.
          p Next, on the search page you’ll see a list of flight options. By default, they’re ordered by price. However, you can sort any way you want.
        .cd-block(data-section='2',data-img='8')
          p.text-center: img.hidden-md-up(src='img/image_1_08.jpg',alt='')
          p Here’s the tricky part about Matrix: You can’t buy tickets directly from Matrix. Instead, when you click on a listing, you’ll see details like flight time, total cost, and flight number. Then, you can take the flight numbers to your travel agent, other booking site (like Kayak), or elsewhere to book.
          p If you’re looking for more advanced advice on using Matrix, check out the below guides:
          ul.list-content
            li: span: a(href='https://thepointsguy.com/2016/02/using-ita-matrix-and-advanced-routing-codes/') Find Your Ideal Flight with ITA Matrix Advanced Routing Codes
            li: span: a(href='https://upgradedpoints.com/matrix-ita-advanced-guide-tips-for-finding-cheap-airfare/') Matrix ITA Advanced Guide: Tips for Finding Cheap Airfare
          p Or, jump in and 
            a(href='https://matrix.itasoftware.com/') give Matrix ITA a try here
            | .
        .cd-block(data-section='2',data-img='9')
          //- p.text-center: img.hidden-md-up(src='img/image_1_09.jpg',alt='')
          h5 How to Find Hotel Discounts, Inexpensive Airbnb Rentals, Discounted All-Inclusive Resorts, and More
          p Where you stay on your trip is a big deal.
          p If the place doesn’t look like the pictures — and you end up in a run-down, dirty hotel with lots of noise — it can ruin on a trip.
          p On the other hand, imagine staying at a gorgeous resort for a massive discount. You see the ocean from your balcony, the wind quietly rustles through the room, and melodious chirping birds wake you up every morning.
          p The difference between good accommodations and bad accommodations can be the difference between a good and bad trip.
          p In fact, in our survey of hundreds of Next Vacay readers, we found bad accommodations are one of the BIGGEST pain points for traveling:
          ul.list-unstyled
            li “We pay a lot to go on vacation and we expect good quality rooms, etc. The rooms were tiny and grubby and just not very appealing. We wouldn't go back for that reason.”
            li “Nothing ruins a vacation more than getting a hotel that looks nothing like what they advertise on the website. The room I got was MUCH smaller than what was pictured”
            li “The last time we used an airbnb, the place was filthy and had roaches. The bed was also so uncomfortable that we slept miserably and ached for days.”
          p Finding the right accommodations is important.
          p Some people like staying in 3-star hotels. Others, 4-5 star hotels or all-inclusive resorts only. And some, Airbnb.
          p Depending on the type of accommodations you’re looking for, we have advice to find your perfect lodging.
        .cd-block(data-section='2',data-img='10')
          p.text-center: img.hidden-md-up(src='img/image_1_10.jpg',alt='')
          h6 3 or 4-star hotels
          p “Normal” hotels are our safest bet when we’re not sure where to stay. While not exactly the same, we know a Marriott in our hometown is similar to a Marriott in Hawaii, another country, or anywhere else.
          p In other words, we know what to expect. It’s kind of like finding a Chipotle or McDonald’s in a new city. It might not be the best choice, but you’re familiar with the food, decor, and style.
          p If you’re looking for a familiar hotel, 
            a(href='https://www.room77.com/') we recommend Room 77
            | .
          p Here’s why: Room 77 aggregates dozens of the most popular booking sites and hundreds of thousands of hotels to find you the lowest prices and best hotels on the web.
          p With sortable filters by brand (if you only want to stay at Hilton hotels, for example), star-rating, and amenities (like free wi-fi or parking), Room 77 helps you easily find the best hotel for your trip.
          p Here’s how you can use 
            a(href='https://www.room77.com/#/') Room 77
            |  to find your perfect hotel.
        .cd-block(data-section='2',data-img='11')
          p.text-center: img.hidden-md-up(src='img/image_1_11.jpg',alt='')
          p First, start typing your destination. For many large cities, you’ll see a drop-down with different menus.
          p For example, searching for “Hawaii” shows drop-down choices of “hotels near Pacific Tsunami Museum” and more.
          p Once you search for your destination, select the check-in and check-out dates, plus the number of guests and number of rooms.
          p After you define your requirements, you click the search button to see hotel listings sorted by relevance. You can use the map on the right-hand side to zoom in and out and granulate your location.
        .cd-block(data-section='2',data-img='12')
          p.text-center: img.hidden-md-up(src='img/image_1_12.jpg',alt='')
          p Next, if you’re looking for a specific type of hotel, you can change your filtering:
          ul.list-content
            li: span Hotel types: “extended stay,” “luxury,” “family,” and more
            li: span Price — keep your hotel within your budget
            li: span Rating for both guests and star-rating (want to treat yourself to a 5-star hotel?)
          p Plus more.
          p Once you find your list of hotels, you’ll see a few different booking options. Click through to book your hotel and get the wheels in motion for your dream vacation.
          p Go ahead and give 
            a(href='https://www.room77.com/') Room 77
            |  a try.
          p Note: If you’re looking to earn reward points for hotels, make sure to book directly through the hotel’s websites. Sometimes, hotels won’t give you reward points for stays booked through hotel search portals.
        .cd-block(data-section='2',data-img='13')
          //- p.text-center: img.hidden-md-up(src='img/image_1_13.jpg',alt='')
          h6 Airbnb
          p Using 
            a(href='https://www.airbnb.com/') Airbnb
            |  to stay like a local can be a great experience. You can hang out in great neighborhoods close to cool spots for much less than a hotel would cost. Plus, you get the “local” flare. The host might be staying in the same house as you, or a couple doors down.
          p Unfortunately Airbnb can also be misleading.
          p Partly because of the lack of strict regulations, Airbnb rentals can be a total hit or miss. Here are a few tips to find the best Airbnb rental before you get there.
          p First, if you’re not familiar with Airbnb, check out these guides:
          ul.list-content
            li: span: a(href='http://mashable.com/2014/06/27/airbnb-beginners-guide/#p9pa30CbyOq6') The beginner’s guide to Airbnb
            li: span: a(href='http://www.adventurouskate.com/how-to-use-airbnb-and-have-a-great-experience/') How to use Airbnb and have a great experience
            li: span: a(href='http://lifehacker.com/how-to-use-airbnb-to-live-anywhere-1788145276') How to use Airbnb to live anywhere
        .cd-block(data-section='2',data-img='14')
          p Second, to find the right location, use a service like 
            a(href='https://www.walkscore.com/') Walk&nbsp;Score
            | . Checking the Walk Score will help you determine if you’re within walking distance to bars, restaurants, grocery stores and more.
          p.text-center: img.hidden-md-up(src='img/image_1_14.jpg',alt='')
          p To use Walk Score, find the intersection of a listing on Airbnb. Then, take the intersection and input into Walk Score.
          p After you input the cross streets, you can see what places are walking distance. Plus, you’ll get a bike and public transit score. If it’s important for you to have accessible places nearby, you can use this as a guide for determining where to stay.
          p Third, post on the city or country’s subreddit on Reddit. For example, if you’re going to visit Jamaica, check out the Jamaica subreddit r/jamaica. From there, you can ask the locals your questions to see where you should stay.
          p (If you need help posting on Reddit, 
            a(href='http://www.wikihow.com/Post-on-Reddit') here’s a step-by-step guide
            | .)
          p Here’s an exact script to use on a country or city’s subreddit.
          blockquote.font-italic.pl-3.mb-0
            p Hi guys!
            p I’m planning to travel to [place] during [time of year]. Before I do, I was hoping to get some advice from you awesome people.
            p A few questions to start:
            ol
              li What’s the most fun neighborhood for a tourist?
              li What neighborhoods should I absolutely avoid?
            p Thanks!
          p Fourth, send the Airbnb host a message.
          p Pictures can be doctored, and reviews can be faked. That doesn’t mean you should ignore both, but you should be careful. In addition to looking at pictures and checking reviews, a third prong to your Airbnb research should be messaging the host.
          p Questions you can ask the host:
          ul.list-content
            li: span How long have you lived here?
            li: span What’s your #1 frustration with the place?
            li: span How noisy are your neighbors?
          p 
            a(href='https://www.airbnb.com/') Click here to start using Airbnb
            | .
        .cd-block(data-section='2',data-img='15')
          //- p.text-center: img.hidden-md-up(src='img/image_1_15.jpg',alt='')
          h6 5-star and luxury hotels
          p Waking up with a breaktaking view of the ocean. Top-notch room service and amenities. A gorgeous whirlpool right in your hotel room.
          p If you only want the best lodging accommodations, you’re only going to want to stay in a 5-star luxury hotel.
          p We prefer to stay in 5-star hotels for anniversaries, birthdays, or other special events.
          p If you’re looking for a 5-star or luxury hotel, we recommend 
            a(href='http://www.luxurylink.com/') Luxury Link
            | . Instead of having to go to each individual 5-star hotel website, Luxury Link makes it easy for you by aggregating only the best hotels in the world. Their website is perfect if you want to compare the most pampered, high-end accommodations — and find the perfect fit for you.
          p To start using Luxury Link, enter your destination, check-in and check-out dates, and your number of guests.
        .cd-block(data-section='2',data-img='16')
          p.text-center: img.hidden-md-up(src='img/image_1_16.jpg',alt='')
          p Then, click the search button to find your options.
          p The filtering is less on Luxury Link compared to other hotel search sites, but you can change your interests. For example, you can update to beach, city, family, and more.
          p Once you find a luxury hotel that looks good, you can click it to see pictures, TripAdvisor score, amenities, reviews, and price.
          p You can also use 
            a(href='https://auctions.luxurylink.com/') Luxury Link Auctions
            |  to find discounted luxury experiences. Sign-up is free, and some of the auctions include:
          ul.list-content
            li: span Africa
            li: span Mexico
            li: span India
        .cd-block(data-section='2',data-img='17')
          p.text-center: img.hidden-md-up(src='img/image_1_17.jpg',alt='')
          p: a(href='http://www.luxurylink.com/') To give Luxury Link a try, click here.
          p If Luxury Link doesn’t have the luxury hotel you’re looking for, try searching 5-star hotels in your destination and looking on their website for a “multi-night” discount.
          p Here’s how this works: Often times, when you book multiple nights directly through a hotel they’ll offer a cheaper rate. This is because when you book directly with a hotel, they aren’t paying a commission to an online travel agent. So when you book direct you can get unheard of discounts.
          p For example, when we visited the Four Seasons luxury hotel in Serengeti, we stayed for four nights, but paid for three (a 25% discount worth over $1000).
          p Run a Google search for “[HOTEL NAME] Pay 3 Stay 4” or “[HOTEL NAME] Pay 2 Stay 4”. You’ll be surprised how many properties offer this incentive.
        .cd-block(data-section='2',data-img='18')
          //- p.text-center: img.hidden-md-up(src='img/image_1_18.jpg',alt='')
          h6 All-inclusive resorts
          p Planning a vacation has a lot of moving parts. You have to coordinate the hotel, budget for food and restaurants, and plan out different activities…
          p Why not just make it easier and book one place which takes care of everything?
          p If you just want to travel without worrying about all the moving parts, an all-inclusive resort might be best for you.
          p Most all-inclusive resorts include:
          ul.list-content
            li: span Airfare
            li: span Lodging
            li: span Food
            li: span Entertainment and activities
          p For one set, discounted price.
          p To search dozens of different vacation destinations, 
            a(href='https://www.allinclusiveoutlet.com/') All Inclusive Outlet
            |  is our choice for the best all-inclusive vacation deals.
          p To start using All Inclusive Outlet, enter your “from” and “to” destinations and travel dates. By default, it will give you search results for two adult travelers. If you’re looking to add more travelers, adult or children, you can specify on the search page.
        .cd-block(data-section='2',data-img='19')
          p.text-center: img.hidden-md-up(src='img/image_1_19.jpg',alt='')
          p Once you’ve entered your travel location, destination, and travel dates, click the search button.
          p On the search results page, you’ll be able to filter by rating, price, and interest.
          p Choose from amazing getaways to tropical places like Mexico, Jamaica, or St. Lucia. With a family-friendly section, you can also find places the kids can join, too.
          p By default, the results are sorted by relevance, but you can also sort by price or alphabetically.
          p: a(href='https://www.allinclusiveoutlet.com/') Start using All Inclusive Outlet here.
          p A close second is Costco Travel but with a trick.
          p We recently booked an all-inclusive report to Secrets: The Vine in Cancun for 4 nights 5 days for two people for $2100 inclusive of flights. That’s $262.50 per person per night! Here’s how I did it and what I learned in the process. 
          p While these all inclusive deal sites do offer great deals, the one variable they do not control is the cost of the flight. Costco at the time was showing airfare from Delta. So I went over to Google Flights and filtered by Delta and started looking for low fares between Atlanta and Cancun. Voila, I eventually found a pair of dates where the flight was super cheap. When I plugged the dates in over at Costco, their system reflected the same super cheap flight and the price of the trip came down significantly because the lower airfare was passed through to us. What’s more, I got to earn SkyMiles AND because I had status with Delta, we got upgraded both ways to first class.
        .cd-block(data-section='2',data-img='20')
          p.text-center: img.hidden-md-up(src='img/image_1_20.jpg',alt='')
          h6 Hostels
          p Sometimes, you need to travel on a shoestring budget.
          p Or maybe, you want to meet lots of cool people from all over.
          p If this sounds like you, a hostel might be your best accommodations choice.
          p With 33,000 properties to search, 
            a(href='http://www.hostelworld.com/') Hostelworld
            |  is the best hostel search engine online.
          p Before you get started, 
            a(href='http://www.nomadicmatt.com/travel-blogs/how-to-pick-a-good-hostel/') check out this great post on how to pick a good hostel
            | .
          p To start using Hostelworld, 
            a(href='http://www.hostelworld.com/') first navigate to their website
            | .
          p Then, search by city name for where you’re staying, input the days you’re staying, select the number of guests, and click the search button.
        .cd-block(data-section='2',data-img='21')
          p.text-center: img.hidden-md-up(src='img/image_1_21.jpg',alt='')
          p When the results come up, you can view in a list, gallery, or map format on the left-hand side. Then, you can sort by price, rating, distance from a specific place, or name.
          p When you find a listing you like, click on it to see all the amenities. You can also choose the types of rooms you want: shared, privates, doubles, or more.
        .cd-block(data-section='2',data-img='22')
          p.text-center: img.hidden-md-up(src='img/image_1_22.jpg',alt='')
          p 
            a(href='http://www.hostelworld.com/') Check out Hostelworld now to start finding your inexpensive accommodations.
          p It’s worth noting hostels #[em aren’t] just for 20-somethings. Recently, we stayed in a hostel ourselves on a trip to Interlaken to save a massive amount of cash.
          p Here’s the trick: To make hostels work past your 20s, we recommend you get a private room.
          p Private rooms can give you similar space and privacy as a hotel (including the private bathroom) — at a fraction of the cost.
          p To find a private room on Hostelworld, Look for prices for “Privates” in the search results. Not all hostels have private rooms, so you might have to spend some extra time searching.
          p But the savings could be worth it!
        .cd-block(data-section='2',data-img='23')
          //- p.text-center: img.hidden-md-up(src='img/image_1_23.jpg',alt='')
          h5 The Best Way to Get Free Flights and Stays with Airline Miles, Rewards, and Other Perks
          p Redeeming credit card rewards for free flights and accommodations can take your vacation experience to the next level — for no extra cost.
          p But knowing where to start with “travel hacking” can be confusing. There are so many different rewards cards, airline programs, nuances of redeeming bonuses, and restrictions.
          p To help you get started, we simplified the process.
          p Here are a few suggestions to get started redeeming your airline miles and taking advantage of the free rewards.
          p First, sign up for the free rewards or frequent flier program through any airline you use. It takes 30 seconds, can help you earn enough miles for free flights, and can be stacked with any credit card rewards you earn.
          p Here are 10 airline frequent flier rewards programs you can join for domestic airlines:
          ul.list-content
            li: span: a(href='https://www.alaskaair.com/content/mileage-plan.aspx') Alaska Airlines Mileage Plan
            li: span: a(href='https://trueblue.jetblue.com/') JetBlue TrueBlue
            li: span: a(href='https://www.southwest.com/rapidrewards') Southwest Rapid rewards
            li: span: a(href='http://www.delta.com/content/www/en_US/skymiles.html') Delta SkyMiles
            li: span: a(href='https://www.virginamerica.com/cms/elevate-frequent-flyer') Virgin America Elevate
            li: span: a(href='https://www.united.com/web/en-US/content/mileageplus/Default.aspx') United MileagePlus
            li: span: a(href='https://www.aa.com/i18n/aadvantage-program/aadvantage-program.jsp?anchorLocation=DirectURL&title=AAdvantage') American Airlines AAdvantage
            li: span: a(href='https://www.hawaiianairlines.com/my-account/login') Hawaiian Airlines HawaiianMiles
            li: span: a(href='https://www.flyfrontier.com/ways-to-save/frequent-flyer/') Frontier Airlines EarlyReturns
            li: span: a(href='https://www.spirit.com/FreeSpiritEnrollment.aspx') Spirit Airlines FREE SPIRIT
          p That’s just the tip of the iceberg. Many international airlines have rewards programs, and many airlines partner with other airlines to allow cross-airline sharing of reward miles.
          p Second, check out 
            a(href='https://thepointsguy.com/guide/beginners/') The Points Guy’s beginner's guide to points and miles
            | . The Points Guy is one of the most well-respected and popular travel hackers out there, and his website is visited by roughly seven million people every month.
          p In the 10-part mega-guide, The Points Guy covers every detail behind points and rewards, including…
          ul.list-content
            li: span Choosing the best rewards credit cards
            li: span Using online shopping portals for extra free points
            li: span Earning highly-coveted “elite” status on rewards programs for ultra-special perks
          p And tons more.
          p Third, pick a credit card to start earning miles. You can use a website like 
            a(href='https://www.nerdwallet.com/credit-cards') NerdWallet
            |  to compare dozens of different credit cards, select your criteria, and find the right card for you.
          p Personally, our favorite travel cards are the following…
          ul.list-content
            li: span
              b Best entry-level travel card: 
              a(href='https://creditcards.chase.com/credit-cards/chase-sapphire-preferred') Chase Sapphire Preferred
              | . With bonus points after you hit a spending threshold in the first few months, the Chase Sapphire Preferred card is an excellent way to start earning airline miles you can redeem for free flights quickly. Plus, with 2X points on travel and dining purchases, you can stack your points quickly if you’re a big traveler or diner
            li: span
              b Best all-around travel card: 
              a(href='https://www.americanexpress.com/us/credit-cards/card/starwood-preferred-guest/') Starwood Preferred Guest from American Express
              | . This is one of the most well-liked travel cards for years (and it’s even the 
              a(href='http://www.iwillteachyoutoberich.com/blog/best-credit-cards/') favorite credit card of our friend, personal finance guru Ramit Sethi
              | ). Starwood points are the best points from any rewards program, according to The Points Guy, so this card will help you earn tons of miles — and redeem them for amazing rewards
            li: span
              b Best advanced travel hacker card: 
              a(href='https://creditcards.chase.com/a1/sapphire/reserve') Chase Sapphire Reserve
              | . With a $450 annual fee, the Chase Sapphire Reserve is no joke. But, with 3X points from travel spending, a $300 travel credit, and elite traveler benefits (like free TSA PreCheck and access to airport lounges), many advanced travel hackers consider the cost worth the rewards
          p After you start earning miles, the real fun begins: You can redeem your miles for epic upgrades.
          p When taking long flights, it’s critical to remove normal travel stresses. We do this by redeeming miles for great amenities, better seats, and flight upgrades.
          p You can redeem miles on any airline you want. Because the miles don’t expire, we like to fly Delta and use their
            a(href='http://www.delta.com/content/www/en_US/skymiles.html') SkyMiles program
            | .
          p In our experience, it takes about 130,000 to 150,000 miles on Delta to get an international roundtrip business ticket. This might seem like a lot, but it can be the difference between flying comfortably and arriving well-rested… and flying frustrated and landing exhausted.
          p To redeem the miles as quick as possible, we start with a list of all the Delta, and Delta partner airlines, in the U.S. Then, we chart a few different route options based on which airports serve Delta to see how we can optimize our Delta flights.
          p This might mean flying out of an airport a little further from home. For example, Delta has a big hub in New York. Sometimes, it’s worth it to take a cheap flight into New York so we can get more miles on a longer Delta flight.
          p Here’s another step-by-step example from a recent flight we took...
          ul.list-content
            li: span We wanted to fly into Tanzania
            li: span The main cities with airports are Nairobi, Kilimanjaro, and Dar-es-Salaam
            li: span We looked at Delta partners, and saw Air France and KLM served those cities
            li: span We saw both Air France and KLM had central hubs in Paris or Amsterdam, so our flights would likely layover in one of those two European cities
            li: span We made a list of all the variations for a possible flight — including Detroit to Paris to Nairobi, Detroit to Paris to Kilimanjaro, and more
            li: span We pieced together the itinerary using a multi-city search on Delta’s website
          p It took some experimentation and searching. Eventually, we found an itinerary which took us from Detroit to Amsterdam to Kilimanjaro in business class for 130,000 miles each round-trip.
          p In other words, we didn’t pay a dime to travel roundtrip from the U.S. to Tanzania because of our airline miles. Cha-ching!
          p With our savings, we were able to upgrade our hotel to the Four Seasons Serengeti guilt-free.
          p This is just one example. It can be confusing to know where to start with airline miles. Here are three keys to keep in mind:
          ol
            li Sign-up for airline rewards programs, which are 100% free
            li Look at optimizing your miles through certain airlines by flying out of central hubs
            li Check partner airlines for optimizing your miles further
          p No matter how you decide to start collecting and redeeming airline miles and travel rewards, it can be a great way to improve your trip at no extra cost.
