footer.main-footer.inverse-color-block: .bg-overlay.h-100
	.container.h-100
		.row.h-100.align-items-center
			h1.main-logo: a(href='index.html'): img(src='img/icon_logo.png',alt='Next Vacay')
			.col-12.text-center.pb-5
				h2.frontpage-title.mb-0 #[strong How To Plan an<br>Epic Vacation]<br>(Without Stressing Out)
		.footer-info.clearfix.text-center.my-3.my-md-4
			.footer-info-item.float-sm-left
				p.mb-0 © Copyright 2017 imlogical.com
			.footer-info-item.float-sm-right
				p.mb-0 Design by imlogical.com 2017
					
						
