.mobile-menu__popup-wrapper
  .mobile-menu__popup
    .mobile-menu__inner-wrapper
      a.mobile-menu__close-button(href='#') X
      nav
        ul
          block header-menu
header.main-header.site-header.section(data-section='header')
  .header-menu-block
    .container-fluid.py-4
      .row.align-items-center
        .col-9.col-lg-4
          h1.d-inline-block.mb-3.mb-lg-0: a.d-block(href='index.html'): img(src='img/icon_logo.png',alt='Naranga')
        .col-3.hidden-lg-up
          #mobile-nav-link
        .col-lg-8.hidden-md-down.text-center.site-header__nav-wrap
          nav.site-header__nav
            ul.menu.text-right.mb-0.pl-0
              block header-menu
              li
                a.header-tel.px-3(href='tel:+1-404-751-9329') (404)751-9329
              li
                a.btn.btn-main(href='demo.html') Demo
            .dropdown-holder
              .dropdown__arrow
              .dropdown__bg
                .dropdown__bg-bottom
              .dropdown__wrap
                block dropdown-menu
  .header-intro
    .container
      .row
        .col-12.text-center
          block header-intro
  .header-submenu-block.py-2
    .container
      .row
        .col-12
          block header-submenu
    
