head
	meta( http-equiv="Content-Type" content="text/html; charset=UTF-8" )
	meta(name="viewport" content="width=device-width, initial-scale=1")
	meta(name="format-detection" content="telephone=no")
	meta(name="description" content="The Ultimate Guide to Traveling: How to Find Flight Deals, Travel Deals, and Have the Best Vacation Ever")
	- var pageTitle = 'The Ultimate Guide to Traveling: How to Find Flight Deals, Travel Deals, and Have the Best Vacation Ever'
	title= pageTitle
	link(rel="stylesheet" href="css/main.css")
