//- Nav mixins
mixin nav(type,items)
  nav
    ul.nav(class=type)
      each item,index in items
        li.nav-item
          a.nav-link(href=item.href)= item.text

mixin nav-items-center(items,active)
  +nav("nav-footer",items)
