doctype  html
html(lang='en')
  include includes/head.pug
  include includes/mixins.pug
  body
    //- include includes/header.pug

    //- main
    section#section1.cd-section
      section.inverse-color-block.main-intro: .bg-overlay.h-100
        .container.h-100
          .row.h-100.align-items-center
            h1.main-logo: a(href='index.html'): img(src='img/icon_logo.png',alt='Next Vacay')
            .col-12.text-center.pb-5
              h2.frontpage-title.mb-0 #[strong The Ultimate Guide]<br>to Traveling More, Spending Less, and Having the Best Vacations Ever
      section.inverse-color-block.authors-intro
        .container-fluid.h-100
          .row.h-100.align-items-end
            .col-12.py-5.clearfix
              h3.float-right.mb-0 #[strong Written by]<br>Naveen &amp; Shaylee Dittakavi<br>Airfare Search Savants & Founders nextvacay.com
    main.main-content
      .main-nav-wrap.hidden-md-up
      nav#cd-vertical-nav
        ul.list-unstyled.mb-0
          li
            a(href='#section1',data-number='1')
              span.cd-dot
              span.cd-label Home
          li
            a(href='#section2',data-number='2')
              span.cd-dot
              span.cd-label Chapter 1
          li
            a(href='#section3',data-number='3')
              span.cd-dot
              span.cd-label Chapter 2
      a.cd-nav-trigger
        span
      .section-links.clearfix
        a.btn-deals(href='#') flight<br>deals
        .btns-social
          a.btn-social.icon-facebook(href='#')
          a.btn-social.icon-twitter(href='#')
          a.btn-social.icon-pinterest(href='#')
      include includes/chapter_1.pug
      include includes/chapter_2.pug


    include includes/footer.pug
    script(src='lib/jquery/dist/jquery.min.js')
    script(src='js/main.js')
    script
      |$(document).ready(function() {
      |
      |});
